<h1>Add Writer</h1>
<div ng-controller="AddWriterController">
	<form id="AddWriterForm">
		<div id="firstnam-group" class="form-group row">
			<label for="firstnam" class="control-label col-sm-2">First Name: </label>
			<div class="col-sm-10">
				<input type="text" id="firstnam" name="firstnam" placeholder="Enter Their First Name" class="form-control" required ng-model="writer.first_name">
			</div>
		</div>
		<div id="lastnam-group" class="form-group row">
			<label for="lastnam" class="control-label col-sm-2">Last Name: </label>
			<div class="col-sm-10">
				<input type="text" id="lastnam" name="lastnam" placeholder="Enter Their Last Name" class="form-control" required ng-model="writer.last_name">
			</div>
		</div>
		<div id="submit-button" class="form-group row">
			<div class="col-sm-2">
				<button id="add-comic-button" class="btn-success btn" ng-click="addWriter(writer)">Submit</button>
			</div>
		</div>
	</form>
</div>
<div>
	{{writer_message}}
</div>