<h2>Add Publisher</h2>
<div ng-controller="AddPubController" class="panel panel-default" style="padding:10px;">
	<form id="AddPubForm">
		<div id="pubname-group" class="form-group row">
			<label for="pubname" class="control-label col-sm-2">Name: </label>
			<div class="col-sm-10">
				<input type="text" id="pubname" name="pubname" placeholder="Enter The Name" class="form-control" required ng-model="publisher.name">
			</div>
		</div>
		<div id="submit-button" class="form-group row">
			<div class="col-sm-2">
				<button id="add-comic-button" class="btn-success btn" ng-click="addPublisher(publisher)">Submit</button>
			</div>
		</div>
	</form>
	<div>
		{{pub_message}}
	</div>
</div>
