<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Comic Repository</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/config.js"></script>
  <script type="text/javascript" src="static/js/index.js"></script>
</head>
<body ng-app="BaseApp" class="" style="margin: 20px; background:url(https://images5.alphacoders.com/432/432931.jpg) no-repeat center right fixed;">
  <h1>Comic Book Repository</h1>
  <div ng-controller="BaseController">
    <nav class="navbar navbar-default" role="navigation" style='margin-bottom:0px;'>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Navigation:</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#" ng-click="getView('validate_login')">
              <strong>View Collection</strong>
            </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Manage Collection</strong>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="getView('view_add_comic_book')">Add a Comic</a></li>
              <li><a href="#" ng-click="getView('view_add_publisher')">Add a New Publisher</a></li>
              <li><a href="#" ng-click="getView('view_add_series')">Add a Series</a></li>
              <li><a href="#" ng-click="getView('view_add_writer')">Add a Writer</a></li>
            </ul>
          </li>
          <li>
            <a href="#" ng-click="logout()">
              <strong>Logout</strong>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
         <ng-include src="body"></ng-include>
    </div>
  </div>
</div>
</body>
</html>
