<div ng-controller="GetController">
  <div class="panel panel-primary">
    <div class="panel-heading">
      View Comics
    </div>
    <div class="panel-body">
      <form action="">
        <label>Search by:</label>
        <input type="radio" name="searchType" ng-model="form" value="all"> None (View All)
        <input type="radio" name="searchType" ng-model="form" value="publisher"> Publisher
        <input type="radio" name="searchType" ng-model="form" value="writer"> Writer
        <input type="radio" name="searchType" ng-model="form" value="series"> Series
      </form>
      <div id="username-group" class="form-group">
        <form ng-show="form == 'all'">
          <label>View All Comics In Your Collection</label>
          <button type="button" class="btn btn-success" ng-click="viewAll()" >View All<span class="fa fa-arrow-right"></span></button>
        </form>
        <form  ng-show="form == 'publisher'">
          <label>Filter Comics by Publisher</label>
          <select id="publisher_list" name="publisher" placeholder="Publisher" required ng-model="publisher"
          ng-options = "item.id as item.name for item in publishers"></select>
          <button type="button" class="btn btn-success" ng-click="forPublisher(publisher)">View<span class="fa fa-arrow-right"></span></button>
        </form>
        <form ng-show="form == 'writer'">
          <label>Filter Comics by Writer</label>
          <select id="writer_list" name="writer" required ng-model="writer" ng-options = "item.id as item.name for item in writers"></select>
          <button type="button" class="btn btn-success" ng-click="forWriter(writer)">View<span class="fa fa-arrow-right"></span></button>
        </form>
        <form  ng-show="form == 'series'">
          <label>Filter Comics by Series</label>
          <select id="writer_list" name="writer" required ng-model="writer" ng-options = "item.id as item.name for item in series"></select>
          <button type="button" class="btn btn-success" ng-click="forSeries(series)">View<span class="fa fa-arrow-right"></span></button>
        </form>
      </div>
    </div>
  </div>
  <div class='panel panel-primary'>
    <div class="panel-body">
      <table class='table table-hover table-bordered'>
        <tr>
          <th>Comic Cover</th>
          <th>Issue Number</th>
          <th>Comic</th>
          <th>Writer</th>
          <th>Year</th>
        </tr>
        <tr ng-repeat="comic in comics">
          <td>{{comic.id}} temp</td>
          <td>{{comic.issue_number}}</td>
          <td>{{comic.issue_name}}</td>
          <td>{{comic.writer_name}}</td>
          <td>{{comic.year}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
