<!doctype html>
<html>
<head>
  	<link rel="stylesheet" type="text/css" href="">
  	<link rel="stylesheet" type="text/css" href="css/everything.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="static/login.js"></script>
</head>
<body>
	<form action="">
	Username: <input id="username" name="username"></input>
	Password: <input id="password" name="password" type="password"></input>
	<button>Login</button>
	</form>
</body>
</html>
