<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="static/config.js"></script>
	<script type="text/javascript" src="static/login.js"></script>
</head>
<body ng-app= "SigninApp">
	<form id="signinForm">
    <div id="username-group" class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="UNB Login ID" required ng-model="user.username">
    </div>
    <div id="password-group" class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="UNB Password" required ng-model="user.password">
    </div>
    <button type="button" class="btn btn-success" ng-click="signin(user)">Signin<span class="fa fa-arrow-right"></span></button>
    <p>{{message}}</p>
	</form>
</body>
</html>
